.chat-side
 .side-bar
  .side-bar__items
   %p.side-bar__items__name takahashi
   %ul.side-bar__items__icons
    %li.side-bar__items__new-group 
     = link_to "#" do
      = icon('fas','edit')
    %li.side-bar__items__edit-user
     = link_to "#" do
      = icon('fas', 'cog')

   
 .groups
  .group
   %p.group__group-name group-name
   %p.group__latest-message まだメッセージがありません
   
